<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container">
    <a routerLinkActive="active" (click)="toggleNavbar()" class="navbar-brand" routerLink="/">Loc8r</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" 
      data-toggle="collapse" data-target="#navbarNav" aria-controls="#navbarNav" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLinkActive="active" (click)="toggleNavbar()" class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" (click)="toggleNavbar()" class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item" *ngIf="!isLoggedIn()"  routerLinkActive="active">
          <a routerLink="login" class="nav-link">Sign in</a>
        </li>
        <div class="dropdown" *ngIf="isLoggedIn()">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ getUsername() | titlecase}}
          </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" (click)="doLogout()">Logout</a></li>
            </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
<div class="container content">
  <router-outlet></router-outlet>
  <footer class="py-4 bg-dark fixed-bottom">
    <div class="container">
      <div class="col-xs-12 text-center"><small>&copy;Jessebrite - {{date}}</small></div>
    </div>
  </footer>
</div>
