doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    script(src='/javascripts/jquery3.4.0.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')

  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/location') Info
            li
              a(href='/location/review/new') Add Review
            li
              a(href='/generic-view') About
    .container          
      block content

      footer
        .row
          .col-xs-12
            small &copy; Jesse Brite - 2019
