extends layout

block content
	img.img-fluid.rounded(src='https://dev.virtualearth.net/REST/v1/Imagery/Map/Road/47.6156352,-122.2043549/12?pp=47.6156352,-122.2043549;;1&pp=47.612441,-122.204533;;2&dcl=1&key=AoD8HJqoeVQM1GmIOeJSTgsJ7jVNsriUgXvWDXh6xbofHvj6egAI6TQc3Yv1l6Vf')