mixin outputRating(rating)
  - for (let i = 1; i <= rating; i++)
    span.fas.fa-star
  - for (let i = rating; i < 5; i++)
    span.far.fa-star

mixin formatDate(dateString)
  - const date = new Date(dateString);
  - const d = date.getDate();
  - const monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  - const m = monthNames[date.getMonth()];
  - const y = date.getFullYear();
  - const output = `${d} ${m} ${y}`;
  =output

mixin currentDate()
  - const date = new Date();
  - const y = date.getFullYear();
  =y